{% extends 'contact.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block container %}
    <h1>Liste des Commandes</h1>
<script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var containers = document.querySelectorAll('.qrcode-container');
        containers.forEach(function(container) {
            var reference = container.dataset.reference;
            var qrcode = new QRCode(container, {
                text: reference,
                width: 100,
                height: 100
            });
        });
    });
</script>
    <table class="table">
        <thead>
            <tr>
                <th>IdCommand</th>
                <th>StatutCommande</th>
                <th>MontantTotal</th>
                <th>Actions</th>


            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.idCommand }}</td>
               <td>
                                               <div class="qrcode-container" data-reference="{{ commande.statutCommande }}"></div>
                                                                       </td>

                <td>{{ commande.montantTotal }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'idCommand': commande.getIdCommand()}) }}">Afficher</a>
                    <a href="{{ path('app_commande_edit', {'idCommand': commande.getIdCommand()}) }}">Modifier</a>

                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_new') }}">Ajouter Une Nouvelle commande</a>
{% endblock %}
