{% extends 'contact.html.twig' %}
{% block bar  %}
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <title>
        Black Dashboard by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800') }}" rel="stylesheet" />
    <link href="{{ asset('https://use.fontawesome.com/releases/v5.0.6/css/all.css') }}" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="{{ asset('css/nucleo-icons.css') }}" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="{{ asset('css/black-dashboard.css?v=1.0.0') }}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{{ asset('demo/demo.css') }}" rel="stylesheet" />
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <a href="" class="navbar-brand">
            <img class="w-25"  src="{{ asset ('img/logo2.png')}}" alt="Image">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4 bg-secondary">
                <a href="{{path('homee')}}" class="nav-item nav-link active">Home</a>
                <a href="{{asset('../feature.html.twig')}}" class="nav-item nav-link">Produit</a>
                <a href="class.html" class="nav-item nav-link">Evenement</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Nutritioin</a>
                    <div class="dropdown-menu text-capitalize">
                        <a href="blog.html" class="dropdown-item">Regime</a>
                        <a href="single.html" class="dropdown-item">Recette</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Blog</a>
            </div>
        </div>
    </nav>
    {% for flashMessage in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endblock %}
  {% block pageheader %}

      <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
          <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Profile</h4>
          <div class="d-inline-flex">
              <p class="m-0 text-white"><a class="text-white" href="{{path('homee')}}" >Home</a></p>
              <p class="m-0 text-white px-2">/</p>
              <p class="m-0 text-white">User Profile</p>
          </div>
      </div>
  {% endblock %}
{% block container %}

{% endblock %}
{% block features %}

    <div class="row">
        <div class="col-md-882">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Edit Profile</h5>
                </div>

                <div class="card-body">

                    <form action="{{ path('readUser', {'iduser': User.id_user}) }}">
                        {{ form_start(form) }}

                        <div class="row">
                            <div class="col-md-5 pr-md-1">
                                <div class="form-group">
                                    <label>Cin</label>
                                    {{ form_widget(form.cin) }}
                                </div>
                            </div>
                            <div class="col-md-4 pr-md-1">
                                <div class="form-group">
                                    <label>numero tel</label>
                                    {{ form_widget(form.numTel) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label>First Name</label>
                                    {{ form_widget(form.nom) }}
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    {{ form_widget(form.prenom) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1"> address</label>
                                    {{ form_widget(form.adresse) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label > date de naissance</label>
                                    {{ form_widget(form.dateuser) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label > image</label>
                                    <div>
                                        <img src="/img/{{User.image}}" class="avatar avatar-sm me-3" alt="user1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('editt', {'iduser': User.id_user}) }}">edit</a>


                        <button type="submit" onclick="return confirm('Êtes-vous sûr ?')" class="btn btn-primary">Enregistrer</button>
                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="javascript:void(0)">

                            <img class="avatar" src="/img/{{User.image}}" alt="...">
                            <h5 class="title">{{User.nom}} {{User.prenom}}</h5>
                        </a>
                        <p class="description">
user                        </p>
                    </div>
                    </p>
                    <div class="card-description">
                    </div>
                </div>
                <div class="card-footer">
                    <div class="button-container">
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                            <i class="fab fa-facebook"></i>
                        </button>
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                            <i class="fab fa-google-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/core/jquery.min.js') }}"></script>
    <script src="{{ asset('js/core/popper.min.js') }}"></script>
    <script src="{{ asset('js/core/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
    <!--  Google Maps Plugin    -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="{{ asset('https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE') }}"></script>
    <!-- Chart JS -->
    <script src="{{ asset('js/plugins/chartjs.min.js') }}"></script>
    <!--  Notifications Plugin    -->
    <script src="{{ asset('js/plugins/bootstrap-notify.js') }}"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{{ asset('js/black-dashboard.min.js?v=1.0.0') }}"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
    <script src="{{ asset('demo/demo.js') }}"></script>
{% endblock %}
