{% extends 'base.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block class %}
    <h1>Avis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdAvis</th>
                <th>Note</th>
                <th>user</th>
                <th>produit</th>
                <th>actions</th>


            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.idAvis }}</td>
                <td>{{ avi.note }}</td>
                <td>{{ avi.user.nom }}</td>
                <td>{{ avi.produit.marqueProduit }}</td>
                <td>
                    <a href="{{ path('app_avis_show', {'idAvis': avi.idAvis}) }}">show</a>
                    <a href="{{ path('app_avis_edit', {'idAvis': avi.idAvis}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_avis_new') }}">Create new</a>
{% endblock %}
