<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../img/logo2.png">
    <title>
        FuriousGains         Reset your password

    </title>
    <!--     Fonts and icons     -->
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700') }}" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="{{ asset('../assets/css/nucleo-icons.css') }}" rel="stylesheet" />
    <link href="{{ asset('../assets/css/nucleo-svg.css') }}" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <link href="{{ asset('https://unicons.iconscout.com/release/v2.1.9/css/unicons.css') }}" rel="stylesheet">
    <script src="{{ asset ('https://kit.fontawesome.com/42d5adcbca.js')}}" crossorigin="anonymous"></script>
    <link href="{{ asset('../assets/css/nucleo-svg.css') }}" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="{{ asset('../assets/css/soft-ui-dashboard.css?v=1.0.7') }}" rel="stylesheet" />
    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
    <script defer data-site="YOUR_DOMAIN_HERE" src="{{ asset('https://api.nepcha.com/js/nepcha-analytics.js') }}"></script>


</head>

<body id="page-top">

<div class="container mt-5">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image">

                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                    <p class="mb-4">We get it, stuff happens. Just enter your email address below
                                        and we'll send you a link to reset your password!</p>
                                </div>

                                {{ form_start(resetForm,{'attr': {'novalidate': 'novalidate',
                                    'class' : 'user'

                                } }) }}

                                <div class="form-group">

                                    {{ form_row(resetForm.plainPassword.first,{ 'attr' : {
                                        'class' : 'form-control form-control-user',
                                        'placeholder' : 'Enter new password',


                                    }}) }}
                                </div>
                                <div class="form-group">

                                    {{ form_row(resetForm.plainPassword.second,{ 'attr' : {
                                        'class' : 'form-control form-control-user',
                                        'placeholder' : 'Enter new password',
                                    }}) }}
                                </div>
                                <button class="btn btn-danger btn-sm">Reset Password</button>
                                {{ form_end(resetForm) }}

                                <hr>
                                <div class="text-center">
                                    <a class="btn btn-danger btn-sm" href="">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                    <a class="btn btn-danger btn-sm" href="{{ asset('app_login') }}">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>













{#{% block body %}#}
{#    <h1>Reset your password</h1>#}

{#    {{ form_start(resetForm,{'attr': {'novalidate': 'novalidate'}} ) }}#}
{#        {{ form_row(resetForm.plainPassword) }}#}

{#        <button class="btn btn-primary">Reset password</button>#}
{#    {{ form_end(resetForm) }}#}
{#{% endblock %}#}






<script src="{{ asset('assets/js/core/popper.min.js') }}"></script>
<script src="{{ asset('assets/js/core/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/plugins/perfect-scrollbar.min.js') }}"></script>
<script src="{{ asset('assets/js/plugins/smooth-scrollbar.min.js') }}"></script>
<script src="{{ asset('assets/js/plugins/chartjs.min.js') }}"></script>

</body>

</html>