{% extends '/Dashboard.html.twig' %}
    {% block container %}
        <link href="{{ asset ('css/styleMainPage.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css') }}" integrity="sha512-REPLACEME" crossorigin="anonymous" />
    <div class="row">
            <div class="col-md-12">

                <hr style="color: #103741; margin:0">
                <div style="margin: 50px ;" class="container">
                    <div class="bg-light rounded">
                        <div class="row g-0">
                            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s"
                                 style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                                <div class="h-100 d-flex flex-column justify-content-center p-5">
                                    <h1 class="">Add Users</h1>
                                    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                                    <div class="row g-3">
                                        <div class="col-12 mr-2">
                                            <div class="form-floating">
                                                {{ form_widget(form.cin) }}
                                                {{ form_errors(form.cin) }}
                                                <i class="input-icon uil uil-credit-card"></i>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                {{ form_widget(form.nom) }}
                                                {{ form_errors( form.nom) }}
                                                <i class="input-icon uil uil-user"></i>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                {{ form_widget(form.prenom) }}
                                                {{ form_errors( form.prenom) }}
                                                <i class="input-icon uil uil-user"></i>                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                {{ form_widget( form.numTel) }}
                                                {{ form_errors( form.numTel) }}
                                                <i class="input-icon uil uil-phone"></i>                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                {{ form_widget( form.adresse) }}
                                                {{ form_errors( form.adresse) }}
                                                <i class="input-icon uil uil-user-location"></i>                                            </div>
                                        </div>
                                        <div class="col-12 mr-2">
                                            <div class="form-floating">
                                                {{ form_widget( form.email) }}
                                                {{ form_errors( form.email) }}

                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <i class="input-icon uil uil-calendar-alt"></i>
                                                {{ form_widget(form.dateuser) }}
                                                {{ form_errors( form.dateuser) }}
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                {{ form_widget(form.image ) }}
                                                {{ form_errors(form.image ) }}
                                                <i class="input-icon uil uil-image-download"></i>
                                             </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                {{ form_widget(form.password ) }}
                                                {{ form_errors(form.password ) }}
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                {{ form_row(form.roles) }}
                                            </div>
                                        </div>
                                        {{ form_row(form.Ajouter) }}
                                        <a href="{{ path('app_user.Afficher') }}" class="btn btn-danger btn-sm">cancel</a>
                                    </div>
                                    {{ form_end(form) }}

                                </div>
                            </div>
                            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s"
                                 style="min-height: 400px; visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                                <div class="position-relative h-100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
{% endblock %}