{% extends '/Dashboard.html.twig' %}
{% block container %}
    <link href="{{ asset ('css/styleMainPage.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css') }}" integrity="sha512-REPLACEME" crossorigin="anonymous" />
<div class="container mt-5">
      <div class="row">
      <div class="col-md-12">

      <hr style="color: #103741; margin:0">
      <div style="margin: 50px ;" class="container">
          <div class="bg-light rounded">
              <div class="row g-0">
                  <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s"
                       style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                      <div class="h-100 d-flex flex-column justify-content-center p-5">
                          <h1 class="">Update User</h1>
                          {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                          <div class="row g-3">
                              <div class="col-12 mr-2">
                                  <div class="form-floating">
                                      {{ form_row(form.cin) }}
                                  </div>
                              </div>
                              <div class="col-12 mr-2">
                                  <div class="form-floating">
                                      {{ form_row(form.email) }}
                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-floating">
                                      {{ form_row(form.roles) }}
                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-floating">
                                      {{ form_row(form.dateuser) }}
                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-floating">
                                      {{ form_row(form.nom  ) }}

                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-floating">
                                      {{ form_row(form.prenom ) }}
                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-floating">
                                      {{ form_row(form.numTel) }}
                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-floating">
                                      {{ form_row(form.adresse  ) }}
                                  </div>
                              </div>
                              <div class="col-sm-6">

                                  {{ form_row(form.Ajouter) }}
                              </div>
                          </div>
                          {{ form_end(form) }}

                      </div>
                  </div>
                  <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s"
                       style="min-height: 400px; visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                      <div class="position-relative h-100">
                      </div>
                  </div>
              </div>
          </div>
      </div>


      </div>
      </div>
      </div>
{% endblock %}