{% extends 'Adminbase.html.twig' %}

{% block banner %}
<!-- Carousel Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 600px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Our Events</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Events</p>
        </div>
    </div>
</div>
<!-- Carousel End -->
{% endblock %}

{% block body %}
<a href="{{ path('app_evenement_new', {'user_id': user_id}) }}" class="btn btn-primary mb-3">Add New Event</a>

<div class="container gym-class mb-5">
    <div class="row px-3">
        {% for evenement in evenements %}
        <div class="col-md-6 mb-4">
            <div class="gym-class-box d-flex flex-column align-items-end justify-content-center bg-primary text-right text-white py-5 px-5">
                <h3 class="display-4 mb-3 text-white font-weight-bold">{{ evenement.nomEvent }}</h3>
                <p>{{ evenement.description }}</p>
                <p>Lieu: {{ evenement.lieuEvent }}</p>
                <p>Date: {{ evenement.dateEvent|date('Y-m-d') }}</p>
                <p>Time: {{ evenement.heureEvent}}</p> <!-- Added time -->
                <p>Participants: {{ evenement.nbParticipation }}</p> <!-- Added number of participations -->
                <!-- Edit Button -->
                <a href="{{ path('app_evenement_edit', {'id': evenement.id_event, 'user_id': user_id}) }}" class="btn btn-success">Edit</a>
                <!-- Delete Form -->
                <form method="post" action="{{ path('app_evenement_delete', {'id': evenement.id_event, 'user_id': user_id}) }}" onsubmit="return confirm('Are you sure you want to delete this event?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id_event) }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

                <!-- Show Reservations Button -->
                <a href="{{ path('app_evenement_show_reservations', {'Event_id': evenement.id_event, 'user_id': user_id}) }}" class="btn btn-info">Show Reservations</a>

                <!-- Generate PDF Button -->
<a href="{{ path('app_evenement_generate_pdf', {'id': evenement.id_event, 'user_id': user_id , 'eventId': evenement.id_event }) }}" class="btn btn-secondary">Generate PDF</a>
            </div>
        </div>
        {% else %}
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                No events found.
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
